[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "==4.8.*"
black = "==21.6b0"
bokeh = ">=2.0"
boto3 = "==1.17.11"
cloudpickle = "==1.5.*"
cython = "==0.29.*"
dask = "*"
dill = "==0.3.*"
distributed = "*"
elyra-python-editor-extension = "==2.2.4"
h5py = "==2.10.*"
ipywidgets = ">=7.5.0"
jupyter-bokeh = "*"
jupyter-tensorboard = "*"
jupyterlab-git = "==0.30.0"
jupyterlab-s3-browser = "*"
kafka-python = "*"
matplotlib = "==3.1.*"
pandas = "==0.25.*"
plotly = ">=4.5.0"
pyarrow = "*"
s3fs = "==0.3.4"
scikit-image = "*"
scikit-learn = "*"
scipy = ">=1.3.*"
seaborn = "*"
sqlalchemy = "==1.3.*"
statsmodels = "==0.10.*"
tensorflow-gpu = "==2.4.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
