--index-url https://pypi.org/simple
#
# Default dependencies
#
black==21.6b0
bokeh==2.3.3
boto3==1.21.0
cython
dill
distributed
h5py
ipywidgets>=7.5.0
kafka-python
matplotlib
pandas
plotly
pyarrow
s3fs
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
tensorflow-gpu==2.7.0
jupyter-server-proxy
jupyter-bokeh<=3.0.2
jupyterlab==3.2.4
jupyter-tensorboard
jupyterlab-git~=0.32.0
jupyterlab-s3-browser==0.10.1
kfp==1.6.3
elyra-python-editor-extension==3.0.5
